/** CSS goes here **/

/*********************/
/** Standard layout **/
/*********************/

.flexslider {margin: 0px; height: 100%; border: none; position: relative; }
.flexslider .slides {height: 100%;}
.flexslider .slides li {height: 100%;}
.flexslider .slides li img {height: 100%; width:auto;}
.flex-control-thumbs {position: absolute; left: 0px; bottom: 0px; width: 100%; z-index: 10;}
.fullHeightDiv {height: 100%; vertical-align: middle; overflow: hidden; border-right:solid 1px #454545;}

.weatherBarBox {height:150px; padding: 0 15px;}
.newsBarBox {height: 67.5%; padding: 0 15px 0 15px;-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;}
.textContainer { padding: 0 50px;}

.trafficUpdate{height:250px;overflow:hidden;margin-right:25px;}

.weatherDetails {display:inline-block;margin:10px;}

.internalFlex {display: flex; height: 100%;align-items: center;justify-content: center;}


.element {
  position: relative;
  margin-top: 30px;
}

/****************/
/** Typography **/
/****************/
body { color: #404041;}

h1 {font-size: 2.400em; color: #404041; margin: 0 0 20px 0;text-align:center;}
h2 {font-size: 1.600em; color: #520a61; margin: 0 0 20px 0;}
h2.grey {font-size: 1.600em; color: #7BCBBF; margin: 0 0 20px 0;}
h3 {font-size: 1.25em; color: #a2238e; margin: 0 0 20px 0;}

p {font-size: 1em; line-height: 1.5em; margin: 0 0 15px 0;}

h1.welcome {font-family: 'Open Sans', sans-serif;font-weight: 700;font-size: 6.00em; color: #ffffff; margin: 150px 0 0 0;text-align:center;}

h1.heading{margin: 25px 0 25px 0;}
